@media screen and (max-width: 1180px) {
    .nikepng {
        padding-top: 15px;
    }
    
    .nav__list {
        flex-wrap: wrap;
    }
    
    .banner {
        height: 70vh;
    }

    .header__nav {
        flex-direction: column;
    }

    .collection__wrap {
        flex-direction: column;
    }

    .collection__cards {
        gap: 20px;
        max-width: 80%;
        justify-content: space-between;
    }

    .collection__big-card {
        max-width: 80%;
    }

    .collection__cards-item {
        max-width: 100%;
        width: 48%;
    }
}

@media screen and (max-width: 992px) {
    .collection__wrap {
        flex-direction: column;
    }

    .collection__cards {
        gap: 20px;
        max-width: 80%;
        justify-content: space-between;
    }

    .collection__big-card {
        max-width: 80%;
    }

    .collection__cards-item {
        max-width: 100%;
        width: 48%;
    }



    .footer__wrap {
        flex-direction: column;
        gap: 30px;

    }

    .footer__list {
        max-width: 80%;
    }

    .footer__form {
        max-width: 80%;
    }
}

@media screen and (max-width: 876px) {
    .footer__wrap {
        flex-direction: column;
        gap: 30px;
    }
}

@media screen and (max-width: 740px) {
    .collection__wrap {
        flex-direction: column;
    }

    .collection__cards {
        gap: 20px;
        max-width: 80%;
        justify-content: space-between;
    }

    .collection__big-card {
        max-width: 80%;
    }

    .collection__cards-item {
        max-width: 100%;
        width: 45%;
    }

    .collection__cards {
        flex-direction: column;
    }
}

@media screen and (max-width: 740px) {
    .collection__cards-item {
        gap: 20px;
        width: 100%;
        justify-content: space-between;
    }
}